
  <div class="d-flex m-3 h-100 w-100" id="wrapper">

      <div class="container-fluid w-100">
       <div class="row w-100">
                <h3 class="w-100">Total complaints registered is {{totalcomplaints}}</h3>
            </div>
            
        </div>
    </div>
    

  