<div class="row complaint h-100 allign-content-center justify-content-center border-dark rounded m-3 d-flex w-100">
    <div class="col-md-4">
        <form action="/complaint-status" method="post">
            <div class="form-group">
                <label for="name">Enter token number</label>
                <input type="number" id="tokenno" name="tokenno" class="form-control">

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
</div>