<div class="row complaint allign-content-center justify-content-center border-dark rounded m-3 d-flex  h-100">
    {{#if hasError}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
    <div class="col-md-4">
        <form action="/complaint-status" method="post">
            <div class="form-group">
                <label for="name">Enter token number</label>
                <input type="number" id="tokenno" name="tokenno" class="form-control">

            </div>
            <button type="submit" class="btn-hover color-5">Check</button>
            
        </form>
    </div>
</div>