<div class="complaint row w-100 justify-content-center allign-content-center d-flex p-2">
    <div class="col-md-8">
        <div class="row w-100">
            <label class="w-50">Token no.</label>:  <label >{{complaint.token}}</label>
        </div>
        <div class="row w-100">
            <label class="w-50">Name</label>:  <label>{{complaint.name}}</label>
        </div>
        <div class="row w-100">
            <label class="w-50">Complaint Category</label>:  <label>1000</label>
        </div>
        <div class="row w-100">
            <label class="w-50">District</label>:  <label>1000</label>
        </div>
        <div class="row w-100">
            <label class="w-50">Complaint Description</label>:  <label>1000</label>
        </div>
        <div class="row w-100">
            <label class="w-50">Uploaded image</label>:  <a href="/photo/{{complaint.token}}" >View</a>
        </div>
        <div class="row w-100">
            <label class="w-50">Status</label>:  <label>1000</label>
        </div>
    </div>
</div>