<div class="container align-content-center justify-content-center h-100 m-3">
    <h3 class="text-success text-center">Your complaint has registered</h3>
    <h6 class="text-center">Token number is {{tokenno}}</h6>
</div>