<div class="h-100">
    <div class="m-4">
        <h3 class="mt-2 mb-2 text-primary">Contact Us</h3>
<div >
    <h5 class="mt-1 mb-1 text-danger">MINISTRY OF TRANSPORT OFFICE</h5>

<h6>Room No: 358, 1st Floor</h6>

<h6>Main Block, Secretariat,</h6>

<h6>Statue, Thiruvananthapuram
</h6>

<h6>Phone: 0471-2332021, 2333176</h6>

<h6>Mob : 9447538800</h6>

<h6>Fax    : 0471-2320600</h6>
    </div>

</div>


</div>