<div class="div1 row allign-content-center d-flex justify-content-center w-100 h-100">
    <div class="col-md-4">
        <div class="row m-3 mt-6">
    <a href="/register"  class="w-100 h-100"><button type="button" class=" w-100 p-2  myButton "  ><h4>Register Complaint</h4></button></a>
        </div>
        <div class="row m-3">
            <a href="#" class="w-100 h-100"><button type="button" class="w-100 p-3  myButton "href="#"><h4>View or upload feedback</h4></button></a>
        </div>
        <div class="row m-3 mb-6">
            <a href="/complaint-status" class="w-100 h-100"><button class=" w-100 p-3 myButton  " ><h4>Complaint status</h4></button></a>
        </div>
    </div>
</div>




        