<div class="row allign-content-center d-flex justify-content-center w-100">
    <div class="col-md-4">
        <div class="row ">
    <a href="/register"  class="w-100 h-100"><button type="button" class="box1 w-100 p-2 border-dark text-black rounded"  ><h4>Register Complaint</h4></button></a>
        </div>
        <div class="row ">
            <a href="#" class="w-100 h-100"><button type="button" class="box1 w-100 p-3 border-dark text-black rounded "href="#"><h4>View or upload feedback</h4></button></a>
        </div>
        <div class="row ">
            <a href="/complaint-status" class="w-100 h-100"><button class="box1 w-100 p-3 border-dark text-black rounded" ><h4>Complaint status</h4></button></a>
        </div>
    </div>
</div>